#content {
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}

#fact-container, #content-container {
  margin-top: 20px;
}

img {
    width: 100%;
}

#map {
    height: 80%;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}